body{background-image:url("https://pbs.twimg.com/media/EwrstX4VIAEYHcz?format=jpg&name=4096x4096"); background-repeat: repeat;text-align: center;}
h1{color:rgb(255, 203, 105)}
b{color:rgb(234, 226, 183)}
b1{color:rgb(208, 140, 96)}
i{color:rgb(252, 191, 73)}
a{color:rgb(232, 172, 101)}
i{background-color: rgb(0, 8, 20);}
h1{font-family: 'Times New Roman', Times, serif ;}
b1{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
i{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
a{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}